body {
    background-color: rgb(37, 0, 8);
    text-align: center;
    font-family: monospace;
    margin-top:20px;
    padding: 40px;
    
}

.abtme-maintext {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    color: white;
    width: 90%;
    max-width: 700px;
    background-color: rgb(22, 0, 5);
    
}

.highlight1 {
    color: rgb(253, 0, 55);
    font-weight: bold;
}

@media (max-width: 600px) {
    .abtme-maintext {
        width: 98%;
        text-align: center;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }
}

.header-aboutme {
    color: rgb(253, 0, 55);
}

.aboutimage {
    display: block;
    width: 500px;
    max-width: 90%;
    height: auto;
    margin: 25px auto;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    color:rgb(255, 255, 255)
}

.abt-flower-title {
    background-color: rgb(22, 0, 5);
    margin: 20px;
    padding: 10px;
}

.abt-golf-title {
    background-color: rgb(22, 0, 5);
    margin: 20px;
    padding: 10px;
}