body {
    background-color: rgb(37, 0, 8);
    color: rgb(253, 0, 55);
    font-family: monospace;
    margin-top:20px;
    padding: 40px;
    text-align: center;
}

h1 {
    color: rgb(253, 0, 55);
}

.logo {
    background-color: rgb(22, 0, 5);
    width: 95%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 15px;
}

.ascii-logo {
    text-align: center;
    font-family: monospace;
    font-size: clamp(4px, 1.7vw, 16px);
    line-height: 1;
    margin: 0;
    color: rgb(253, 0, 55);
    white-space: pre;

}

@media (max-width: 600px) {
    .logo {
        width:98%;
        padding: 4px;
    }

    .ascii-logo {
        font-size: 20px !important;
        line-height: 1;
        margin: 0;
    }
}

.header2 {
    margin-top: 5px;
    background-color: rgb(22, 0, 5);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.penguin {
    margin-top: 20px;
}

.Coolstuff-section {
    width: 90%;
    max-width: 700px;
    margin: 50px auto 0 auto;
    background-color: rgb(22, 0, 5);
    padding: 20px;
    box-sizing: border-box;
    border: 2px dashed rgb(253, 0, 55);
}

.aboutmediv {
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(22, 0, 5);
}

.contactsdiv {
    margin-top: 10px;
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(22, 0, 5);
}
